body {
    margin: 0;
    font-family: 'Cursed Timer ULiL';
}

.container {
    display: flex;
    justify-content: space-around;
}
h3 {

//font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;
    }
    
h2 {
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 60px;
/* or 141% */

text-align: center;

color: #F94F6D;
}
 
 button {
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;
     
 }
 
}